/* IMPORT FONTS */
@font-face {
    font-family: 'Droid';
    src: url("resources/assets/Fonts/Droid.Arabic.Kufi.ttf");
}
/* GLOBAL PROPERIES */

/* ALL ELMMENTS STYLE */

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Droid', sans-serif;
    text-decoration: none !important;


}
/* BODY STYLE */
body{

    background-color: #1A1A2E !important;
}
